h1 {
  text-align: center;
  color: Pink;
}

p {
  text-align: center;
  color: purple;
  font-size: 30px;
}

section {
  text-align: center;
  font-size: 30px;
  color: aqua;
}

h2 {
  text-align: center;
  font-size: 30px;
  color: greenyellow;
}
